{% extends 'page.html' %}
{% load bootstrap3 %}

{% block content %}

  <div class="container">
    <!-- Primary content area -->
    <div class="row">

      <!-- Page Title Area -->
      <div class="col-xs-12">
        <div class="page-header">
          {% block page-header %}
          <h2>Topic Maps <small>District Data Labs</small></h2>
          {% endblock %}
        </div>
      </div>

      <!-- Breadcrumbs navigation area -->
      <div class="col-sm-12">
        <ol class="breadcrumb">
          {% block breadcrumbs %}
          <li class="active"><i class="fa fa-home"></i> Home</li>
          {% endblock %}
        </ol>
      </div>

      <!-- Panel Content Area -->
      <div class="col-sm-12">
        {% block panel-content %}

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Essential Data Science Topics</h3>
          </div>

          <div class="panel-body">
            <p class="lead">From programmers who know statistics, to statisticians who know how to program;
              everyone that does data science work has their own unique set of skills and tools that they use
              to get their jobs done. We want to know the essential data science topics that you use in your work.</p>

            <p class="lead">In this survey, we'll provide you with very open-ended questions asking about what
              <a href="#" data-toggle="popover" data-placement="top" data-trigger="focus" title="Tools" data-content="Technologies and products that allow data scientists to do their work, e.g. programming languages, databases, systems, or resources.">tools</a>,
              <a href="#" data-toggle="popover" data-placement="top" data-trigger="focus" title="Topics" data-content="Things a data scientist must know from simple probabilities to Monte Carlo simulations.">topics</a>,
              and <a href="#" data-toggle="popover" data-placement="top" data-trigger="focus" title="Techniques" data-content="Workflows or behaviors that a data scientist must be able to engage in, e.g. hypothesis driven development">techniques</a>
              you use as a data scientist. Please take a few minutes to tell us which of these are most
              important in your work. In exchange, we'll aggregate the results into a visualization to see
              what topics are generally most important to data scientists.</p>

            <p class="lead">Please note, we will <strong>NEVER</strong> publish or provide to any third party unaggregated responses or identifying data.</p>

          </div>
          <div class="panel-footer">
            <a href="{% url 'survey' %}" class="btn btn-large btn-primary">
              <i class="fa fa-flask"></i> Get Started
            </a>
            {% if user.is_authenticated %}
            <a href="{% url 'results' %}" class="btn btn-large btn-warning">
              <i class="fa fa-cloud"></i> Show Results
            </a>
            {% endif %}
          </div>
        </div>
        {% endblock %}
      </div>

    </div><!-- primary content area ends -->
  </div><!-- container ends -->

{% endblock %}

{% block javascripts %}
  {{ block.super }}
  <script type="text/javascript">
    $(function () {
      $('[data-toggle="popover"]').popover()
    });
  </script>
{% endblock %}
