{% extends 'page.html' %}

{% block content %}

  <div class="container">
    <!-- Primary content area -->
    <div class="row">

      <!-- Page Title Area -->
      <div class="col-xs-12">
        <div class="page-header">
          <h2>Topic Maps <small>District Data Labs</small></h2>
        </div>
      </div>

      <!-- Breadcrumbs navigation area -->
      <div class="col-sm-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
        </ol>
      </div>

    </div><!-- primary content area ends -->
  </div><!-- container ends -->

{% endblock %}
