/* Global Styles for Topic Maps */

html,
body {
  height: 100%;
}

body {
  /*padding-top: 76px;*/
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -106px;
  /* Pad bottom by footer height */
  padding: 0 0 106px;
}

/* Set the fixed height of the footer here */
#footer {
    background-color: #fff;
    border-top: 1px solid #eee;
    padding: 30px 15px;
    font-size: 16px;
}

#footer p {
    margin: 0;
}

.navbar .profile-image{
    margin: -10px 4px;
    height: 30px;
}

#footerStatus {
    font-size: 12px;
}

#wordcloud {
    min-height: 500px;
}

#timeseries {
    min-height: 216px;
}

/* D3 Styles */

.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 10px;
}

.line {
fill: none;
stroke: steelblue;
stroke-width: 1.5px;
}

.dot {
  stroke: #000;
}

.label {
  fill: #777;
}
